trigger:
  branches:
    include:
      - main
      - develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: playwright-variables # Variable group in Azure DevOps
  - name: COUNTRY
    value: 'germany'

stages:
  - stage: Test
    displayName: 'Run Playwright Tests'
    jobs:
      - job: RunTests
        displayName: 'Execute Tests'
        strategy:
          matrix:
            Chrome:
              BROWSER: 'chromium-desktop'
            Firefox:
              BROWSER: 'firefox-desktop'
            WebKit:
              BROWSER: 'webkit-desktop'
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: '18.x'
            displayName: 'Install Node.js'

          - script: |
              npm ci
            displayName: 'Install Dependencies'

          - script: |
              npx playwright install --with-deps
            displayName: 'Install Playwright Browsers'

          - script: |
              npx playwright test --project=$(BROWSER)
            displayName: 'Run Playwright Tests'
            env:
              COUNTRY: $(COUNTRY)
              CI: true

          - task: PublishTestResults@2
            displayName: 'Publish Test Results'
            condition: always()
            inputs:
              testResultsFormat: 'JUnit'
              testResultsFiles: '**/test-results.xml'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Screenshots'
            condition: failed()
            inputs:
              pathToPublish: 'screenshots'
              artifactName: 'screenshots-$(BROWSER)'

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Videos'
            condition: failed()
            inputs:
              pathToPublish: 'videos'
              artifactName: 'videos-$(BROWSER)'

          - script: |
              npm run allure:generate
            displayName: 'Generate Allure Report'
            condition: always()

          - task: PublishBuildArtifacts@1
            displayName: 'Publish Allure Report'
            condition: always()
            inputs:
              pathToPublish: 'allure-report'
              artifactName: 'allure-report-$(BROWSER)'

  - stage: MultiCountryTests
    displayName: 'Multi-Country Testing'
    dependsOn: Test
    jobs:
      - job: TestGermany
        displayName: 'Test Germany'
        steps:
          - template: test-template.yml
            parameters:
              country: 'germany'

      - job: TestFrance
        displayName: 'Test France'
        steps:
          - template: test-template.yml
            parameters:
              country: 'france'

      - job: TestUSA
        displayName: 'Test USA'
        steps:
          - template: test-template.yml
            parameters:
              country: 'usa'

